<div class="row">
    <div class="col"><p>Current Algorithm: <span id="cralgo">A-Star</span></p></div>
</div>
<div class="row">
    <div class="col">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="algopicker" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pick Algorithm
            </button>
            <div class="dropdown-menu" aria-labelledby="algopicker">
                <a class="dropdown-item" id="assel" href="#">A-Star</a>
                <a class="dropdown-item" id="djsel" href="#">Djikstra</a>
            </div>
        </div>
    </div>
</div>
