<div class="d-flex mt-3">
    <div class="control-panel pr-1">Current Algorithm: <span id="cralgo">A-Star</span></div>
    <div class="control-panel">
        <div class="dropdown">
            <button class="btn btn-outline-dark dropdown-toggle fullwidth" type="button" id="algopicker" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pick Algorithm
            </button>
            <div class="dropdown-menu" aria-labelledby="algopicker">
                <a class="dropdown-item" id="assel" href="#">A-Star</a>
                <a class="dropdown-item" id="djsel" href="#">Djikstra</a>
            </div>
        </div>
    </div>
</div>
