<div class="row mt-3">
    <div class="col-sm-12">
        <h5>Set the algorithm to use</h5>
    </div>
</div>
<div class="d-flex">
    <div class="control-panel pr-1">
        Current Algorithm: <strong><span id="cralgo">astar</span></strong>
    </div>
    <div class="control-panel">
        <div class="dropdown">
            <button class="btn btn-outline-dark dropdown-toggle fullwidth" type="button" id="algopicker" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pick Algorithm
            </button>
            <div class="dropdown-menu" aria-labelledby="algopicker">
                <a class="dropdown-item" id="assel" href="#">A-Star</a>
                <a class="dropdown-item" id="djsel" href="#">Djikstra</a>
            </div>
        </div>
    </div>
</div>
