<div class="row">
    <div class="col"><p>Current Exploration Algorithm: <span id="crexplo">Basic</span></p></div>
</div>
<div class="row">
    <div class="col">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="exploselect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pick Algorithm
            </button>
            <div class="dropdown-menu" aria-labelledby="exploselect">
                <a class="dropdown-item" id="basic" href="#">Basic</a>
            </div>
        </div>
    </div>
</div>
