<div class="row">
    <div class="col">
        <button class="btn btn-outline-danger" id="resetboard">Reset Board</button>
    </div>
    <div class="col">
        <button class="btn btn-outline-danger" id="genrandom">Generate Random Terrain</button>
    </div>
    <div class="col">
        <button class="btn btn-outline-info" id="resetsearch">Reset Search</button>
    </div>
    <div class="col">
        <button class="btn btn-outline-primary" id="search">Search</button>
    </div>
</div>
<div class="row">
    <div class="col" id="crsearch">

    </div>
</div>
