<div class="row mt-3">
    <div class="col mt-1">
        <button class="btn btn-outline-danger fullwidth" id="resetboard">Reset Board</button>
    </div>
    <div class="col mt-1">
        <button class="btn btn-outline-info fullwidth" id="genrandom">Generate Terrain</button>
    </div>
    <div class="col mt-1">
        <button class="btn btn-outline-info fullwidth" id="resetsearch">Reset Search</button>
    </div>
    <div class="col mt-1">
        <button class="btn btn-outline-primary fullwidth" id="search">Search</button>
    </div>
</div>
<div class="row mt-2">
    <div class="col" id="crsearch">

    </div>
</div>
