<div class="row">
    <div class="col">Currently optimising for <span id="cropt">energy</span></div>
</div>
<div class="row">
    <div class="col">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="optimiserselect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select Optimiser.
            </button>
            <div class="dropdown-menu" aria-labelledby="optimiserselect">
                <a class="dropdown-item" id="energy" href="#">Energy</a>
                <a class="dropdown-item" id="time" href="#">Time</a>
            </div>
        </div>
    </div>
</div>
