<div class="d-flex mt-3">
    <div class="control-panel pr-1">Currently optimising for <span id="cropt">energy</span></div>
    <div class="control-panel">
        <div class="dropdown">
            <button class="btn btn-outline-dark dropdown-toggle fullwidth" type="button" id="optimiserselect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select Optimiser.
            </button>
            <div class="dropdown-menu" aria-labelledby="optimiserselect">
                <a class="dropdown-item" id="energy" href="#">Energy</a>
                <a class="dropdown-item" id="time" href="#">Time</a>
            </div>
        </div>
    </div>
</div>
