<div class="row">
    <div class="col">
        Current tick speed is: <span id="crtck">100</span>
    </div>
</div>
<div class="row">
    <div class="col">
        <form class="form-inline">
            <div class="form-group">
                <label for="tick" class="sr-only">Tick speed: </label>
                <input type="text" class="form-control" id="tick" placeholder="100">
            </div>
            <button type="primary" class="btn btn-primary" id="tickbut">Set tick speed</button>
        </form>
    </div>
</div>
