<div class="modal fade" id="tutorial" tabindex="-1" role="dialog" aria-labelledby="tutorialModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tutorialModal">Tutorial</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Changing Height Levels/Adding Walls</h5>
                <p>
                To paint a level directly onto the grid, click on a level from
                the options in the top-right, then click and drag on the grid 
                to draw. You can make these <em>walls</em> by ensuring the level
                difference of a cell from its neighbours is at least 5.
                <img class="img-fluid" src="concepts/tut_levels.png" alt="concept art">
                </p>
                <h5>Change the Start/Stop</h5>
                <p>
                Click on the start/stop (shown below) and drag to the correct
                location. Note that it is possible to drag them out of the grid,
                and not possible to bring them back in, so please don't.
                </p>
                <h5>Resetting the Map to a flat surface</h5>
                <p>Click on "Reset Terrain"</p>
                <h5>Creating a new random map</h5>
                <p>Click on "Random Terrain"</p>
                <h5>Toggle between Pathfinding mode and Exploration mode</h5>
                <p>
                Click on the "Switch Modes" button. This will reset the map.
                </p>
                <ul>
                    <li>Pathfind the way to a given destination given a map</li>
                    <li>For unexplored terrain, map out a given area</li>
                </ul>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
