.fullscreen {
    height: 100vh;
}

.cell {
    width: 2%;
    background-color: rgb(240, 240, 240);
    margin: 1px;
}

/** Defining the cell colours **/

.cell.start {
    border: 3px solid #44fb8b;
}

.cell.end {
    border: 3px solid #ff00e3;
}

.cell.l1 {
    background-color: rgb(0, 0, 200);
}

.cell.l2 {
    background-color: rgb(50, 50, 255);
}

.cell.l3 {
    background-color: rgb(75, 75, 255);
}

.cell.l4 {
    background-color: rgb(100, 100, 255);
}

.cell.l5 {
    background-color: rgb(125, 125, 255);
}

.cell.l6 {
    background-color: rgb(150, 150, 255);
}

.cell.l7 {
    background-color: rgb(175, 175, 255);
}

.cell.l8 {
    background-color: rgb(200, 200, 255);
}

.cell.l9 {
    background-color: rgb(255, 200, 200);
}

.cell.l10 {
    background-color: rgb(255, 175, 175);
}

.cell.l11 {
    background-color: rgb(255, 150, 150);
}

.cell.l12 {
    background-color: rgb(255, 125, 125);
}

.cell.l13 {
    background-color: rgb(255, 100, 100);
}

.cell.l14 {
    background-color: rgb(255, 75, 75);
}

.cell.l15 {
    background-color: rgb(255, 50, 50);
}

.cell.l16 {
    background-color: rgb(200, 0, 0);
}

.cell:hover {
    /** background-color: rgba(240, 240, 240, 90);**/
    background-color: aquamarine;
}

.gridrow {
    height: 2.5%;
}
