.fullscreen {
    height: 100vh;
}

.cell {
    width: 2%;
    background-color: rgb(240, 240, 240);
    margin: 1px;
}

.cell.wall {
    background-color: black;
}

.cell:hover {
    /** background-color: rgba(240, 240, 240, 90);**/
    background-color: aquamarine;
}

.gridrow {
    height: 2.5%;
}
