---
layout: default
---
{% include tutorial.html %}
<div class="container-fluid fullscreen">
    <div class="row h-100">
        <div class="col-md-12 col-lg-9">
            {{ content }}
        </div>

        <div class="col-md-12 col-lg-3 panel">
            {% include settickspeed.html %}
            {% include contourpainter.html %}
            {% include optimiserselect.html %}
            {% include algoselect.html %}
            {% include mainoperations.html %}
            <hr>
            {% include switchmodes.html %}
            <hr>
            {% include exploSelect.html %}
            {% include exploOperations.html %}
            <hr>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#tutorial">
                Launch tutorial
            </button>
        </div>
    </div>
</div>
