---
layout: default
---

<div class="container-fluid fullscreen">
    <div class="row h-100">
        <div class="col-md-12 col-lg-9">
            {{ content }}
        </div>

        <div class="col-md-12 col-lg-3">
            {% include settickspeed.html %}
            {% include contourpainter.html %}
            {% include optimiserselect.html %}
            {% include algoselect.html %}
            {% include mainoperations.html %}
            <hr>
            {% include switchmodes.html %}
            <hr>
        </div>
    </div>
</div>
