---
layout: default
---

<div class="container-fluid fullscreen">
    <div class="row h-100">
        <div class="col-md-12 col-lg-9">
            {{ content }}
        </div>

        <div class="col-md-12 col-lg-3">
            <div class="row">
                <div class="col-sm-12">Choose level to paint the contour</div>
            </div>
            <div class="d-flex">
                <button class="colourpicker btn" id="level1">1</button>
                <button class="colourpicker btn" id="level2">2</button>
                <button class="colourpicker btn" id="level3">3</button>
                <button class="colourpicker btn" id="level4">4</button>
                <button class="colourpicker btn" id="level5">5</button>
                <button class="colourpicker btn" id="level6">6</button>
                <button class="colourpicker btn" id="level7">7</button>
                <button class="colourpicker btn" id="level8">8</button>
            </div>
            <div class="d-flex">
                <button class="colourpicker btn" id="level9">9</button>
                <button class="colourpicker btn" id="level10">10</button>
                <button class="colourpicker btn" id="level11">11</button>
                <button class="colourpicker btn" id="level12">12</button>
                <button class="colourpicker btn" id="level13">13</button>
                <button class="colourpicker btn" id="level14">14</button>
                <button class="colourpicker btn" id="level15">15</button>
                <button class="colourpicker btn" id="level16">16</button>
            </div>
            <div class="row">
                <div class="col-sm-12">Current level: <span id="crlvl">13</span></div>
            </div>
            <div class="row">
                <div class="col-sm-6">Optimise for: (currently <span id="cropt">energy</span>)</div>
                <div class="col-sm-3">
                    <button class="btn btn-secondary" id="energy">Energy</button>
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-secondary" id="time">Time</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-danger" id="resetboard">Reset Board</button>
                </div>
                <div class="col">
                    <button class="btn btn-danger" id="genrandom">Generate Random Terrain</button>
                </div>
                <div class="col">
                    <button class="btn btn-info" id="resetsearch">Reset Search</button>
                </div>
                <div class="col">
                    <button class="btn btn-primary" id="search">Search</button>
                </div>
            </div>
            <div class="row">
                <div class="col" id="crsearch">

                </div>
            </div>
        </div>
    </div>
</div>
